.classSubTitle {
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 17px;
  letter-spacing: 0.15px;
  color: #fff;
  margin-bottom: 2em;
}

.loginContainerForm {
  background: hsla(0, 0%, 100%, 0.12);
  color: #fff;
  font-family: "Poppins";
  border: 2px solid #bbc5c7;
}

.elementoDiv {
  width: 50%;
  float: left;
}

#inputForm {
  font-size: 13px;
  height: 16px;
  margin: 9px;
}

.topLabel {
  margin-top: 10px;
}
