#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  justify-content: flex-start;
  box-sizing: border-box;
}

.subtitle {
  font-size: 2.1rem;
  font-weight: 600;
  color: #ff5f54;
  /* <<<<<<< HEAD */
}



/* =======
  margin-left: 80px;
  margin-bottom: 120px;
} */

.select-container {
  position: relative;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.select-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  font-size: 16px;
}

.select-header.active {
  border-color: #007bff;
}

.select-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.select-option,
.selected-option {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  cursor: pointer;
  text-align: left;
}

.select-option:hover {
  background-color: #f0f0f0;
}

.select-icon {
  color: #ff5f54;
  transition: transform 0.3s;
  margin-left: auto;
}

.select-icon.rotate {
  transform: rotate(180deg);
}

.option-time {
  flex: 1;
  text-align: left;
}

.option-percentage {
  flex: 0;
  color: #ff5f54;
  text-align: right;
  margin-right: 16px;
}

.select-icon {
  color: #ff5f54;
  transition: transform 0.3s;
  margin-left: auto;
  margin-right: 8px;
}

.input-field {
  border: none;
  outline: none;
}



.interest {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  margin: 0%;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* height: 500px; */
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
  width: 30%;
  background-color: white;
  /*border: 1px solid #000000;*/
  box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10%;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;

  div {
    margin-top: 5%;
  }
}

.card-header {
  text-align: center;
}

.card-body {
  text-align: center;
}




=======flex: 1;
font-size: 16px;
}

.chart-container {
  margin-top: 50px;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.custom-tooltip {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.custom-tooltip img {
  margin-right: 8px;
}

/* Personalización de la leyenda */
.recharts-legend-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.recharts-legend-item .recharts-legend-icon {
  width: 16px;
  height: 16px;
  margin-right: 15px;
}

>>>>>>>e3562be976d27448775275faca7f829ebaa32b1d