#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.main-grid {
  font-size: 900px;
}

.subtitle {
  font-size: 2.1rem;
  font-weight: 600;
  color: #ff5f54;
<<<<<<< HEAD
}



=======
  margin-left: 80px;
  margin-bottom: 20px;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 80px;
}

.instruction-text {
  font-size: 0.9em;
  margin-bottom: 12px;
}

.input-wrapper {
  position: relative;
  width: 200px;
}

.currency {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1em;
  color: #646cff;
}

.input-field {
  padding: 10px 10px 10px 30px;
  font-size: 1em;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 750px;
  text-align: left;
}

.input-field::placeholder {
  color: #ccc;
}

.input-field:focus {
  border-color: #535bf2;
  outline: none;
}
>>>>>>> bc73204caee7eb33e32c1dda2dbfe88effd1ffbc
