#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.subtitle {
  font-size: 2.1rem;
  font-weight: 600;
  color: #ff5f54;
  margin-left: 80px;
  margin-bottom: 120px;
}

.select-container {
  position: relative;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.select-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  font-size: 16px;
}

.select-header.active {
  border-color: #007bff;
}

.select-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.select-option, .selected-option {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  cursor: pointer;
  text-align: left;
}

.select-option:hover {
  background-color: #f0f0f0;
}

.select-icon {
  color: #ff5f54;
  transition: transform 0.3s;
  margin-left: auto;
}

.select-icon.rotate {
  transform: rotate(180deg);
}

.option-time {
  flex: 1;
  text-align: left; 
}

.option-percentage {
  flex: 0;
  color: #ff5f54;
  text-align: right; 
  margin-right: 16px; 
}

.select-icon {
  color: #ff5f54;
  transition: transform 0.3s;
  margin-left: auto;
  margin-right: 8px;
}

.input-field {
  border: none;
  outline: none;
  flex: 1; 
  font-size: 16px;
}
